// Header Settings

// Header Logo
$hdr-nav-logo-wth: 90px;
$hdr-nav-logo-mbl-wth: 60px;

// Header Colors
$header-background: $pure-white;
$header-text-color: $pure-black;
$header-borders-color: $pure-black;
$header-border-width: 1px;

// No # here for Url syntax.
$header-icon-color: 000;
